<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.30.1.108:3306/turkey_maven_jjlee?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true"/>
                <property name="username" value="atech"/>
                <property name="password" value="dpdlxpzm1221!@"/>

                <property name="poolMaximumActiveConnections" value="30"/>
                <property name="poolMaximumIdleConnections" value="20"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.30.1.108:3306/turkey_maven_jjlee?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true"/>
                <property name="username" value="atech"/>
                <property name="password" value="dpdlxpzm1221!@"/>

                <property name="poolMaximumActiveConnections" value="30"/>
                <property name="poolMaximumIdleConnections" value="20"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
            </dataSource>
        </environment>
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.30.1.108:3306/turkey_maven?characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true"/>
                <property name="username" value="atech"/>
                <property name="password" value="Dpdlxpzm1221!@"/>
                <property name="poolMaximumActiveConnections" value="30"/>
                <property name="poolMaximumIdleConnections" value="20"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
            </dataSource>
        </environment>

        <environment id="prototype">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.30.1.108:3306/turkey_maven_jjlee?characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="Dpdlxpzm1221!@"/>

                <property name="poolMaximumActiveConnections" value="30"/>
                <property name="poolMaximumIdleConnections" value="20"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select 1"/>
            </dataSource>
        </environment>

    </environments>

    <!-- 메뉴:페이지 정렬  -->
    <mappers>
        <!-- LOG -->
        <mapper resource="model/log/LogMap.xml" />

        <!-- MAIN -->
        <mapper resource="model/main/MainMap.xml" />

        <!-- LICENSE -->
        <mapper resource="model/management/license/LicenseMap.xml" />

        <!-- QUESTION -->
        <mapper resource="model/management/question/QuestionMap.xml" />

        <!-- MYLICENSE       -->
        <mapper resource="model/mylicense/MylicenseMap.xml" />

        <!-- SYSTEM -->
        <mapper resource="model/system/master/StandardProcessMap.xml" />
        <mapper resource="model/system/master/PipelineMap.xml" />
        <mapper resource="model/system/master/MasterMap.xml" />
        <mapper resource="model/system/master/Menu.xml" />
        <mapper resource="model/system/user/UserMap.xml" />
        <mapper resource="model/system/user/AuthMap.xml" />
        <mapper resource="model/system/user/DepartmentMap.xml" />
        <mapper resource="model/system/customer/CustomerMap.xml" />
        <mapper resource="model/system/customer/PurchaseMap.xml" />
        <mapper resource="model/system/customer/OutsourcingMap.xml" />
    </mappers>

</configuration>
